{% extends "base_generic.html" %}
{% load static from staticfiles %}
{% block content %}
<link rel ="stylesheet" href = "{% static 'styles.css'%}">
<body class="home2">


<h1>Donor List</h1>

{% if donor_list %}
  <ul class="datalist">

  {% for donor in donor_list %}
    <li>
      <a href="{{ donor.get_absolute_url }}">
      {{ donor }} ({{donor.date_of_birth}} - {% if donor.date_of_death %}{{donor.date_of_death}}{% endif %})
      </a>
    </li>
  {% endfor %}

 </ul>
{% else %}
  <p>There are no donors available.</p>
{% endif %}



{% endblock %}
</body>
