{% extends "base_generic.html" %}

{% block content %}
    <h1>All Applied Sholorship</h1>

    {% if scholarshipinstance_list %}
    <ul>

      {% for scholarshipinst in scholarshipinstance_list %}
      <li class="{% if scholarshipinst.is_pastdeadline %}text-danger{% endif %}">
        <a href="{% url 'scholarship-detail' scholarshipinst.scholarship.pk %}">{{scholarshipinst.scholarship.name}}</a> ({{ scholarshipinst.due_back }}) {% if user.is_authenticated %}- {{ scholarshipinst.applied }} {% endif %} {% if user.is_authenticated %}-->- <a href="{% url 'apply-scholarship-archival' scholarshipinst.id %}">Apply</a>  {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no scholarships applied.</p>
    {% endif %}
{% endblock %}
